aside {
  .logo {
    color: #fff;
    height: 64px;
    padding-top: 12px;
    text-align: center;

    img {
      height: 40px;
    }

    span {
      padding-right: 14px;
    }
  }

  .ant-menu {
    margin-top: 10px;
  }

  &.ant-layout-sider-collapsed {
    .logo span {
      display: none;
    }
  }
}

header {
  >i {
    margin-left: 16px;
    font-size: 20px;
  }

  .tips {
    float: right;

    .ant-avatar {
      margin: 0 16px;
    }
  }
}