.liu::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -38px;
    border-width: 0 38px 38px;
    border-style: solid;
    border-color: transparent transparent #fff;
  }
  
.liu{
  
  @keyframes test {
    to {
        transform: rotate(1turn);
    }
  } 
}

.aside {
  min-height: 100vh;
    .logo {
      color: #fff;
      height: 64px;
      padding-top: 12px;
      text-align: center;

      img {
        height: 40px;
      }

      span {
        padding-right: 80px;
      }
    }
    .active{
      display: none;
    }
    .ant-menu {
      margin-top: 10px;
    }

    
}


.head {
  background: #fff;
   padding: 0;
  >i {
    margin-left: 16px;
    font-size: 20px;
  }

  .tips {
    float: right;
    :global{
    .ant-avatar {
      margin: 0 8px 0;
      background-color: rgb(135, 208, 104);
    }
    span.login{
      padding:0 16px;
      cursor: pointer;
      line-height: 32px;
      display:inline-block;
      color: #969696;
    }
    button{
      background: #ea6f5a;
      border-color: #ea6f5a;
      margin: 0 12px;
      border-radius: 20px;
    }
    .sing_up{
      color: #ea6f5a;
    }
  }
  }
}