button.edit,button.edit:hover,button.edit:focus{
    background-color:#1dc5a3;
    color: #fff;
    border: none;
    font-size: 12px;
}
button.detail,button.detail:hover,button.detail:focus{
    background-color: #f8ac59;
    color: #fff;
    border: none;
}
